body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

table.data {
    width: 100%;
    border-collapse: collapse;
}

table.data th, table.data td {
    border: 1px solid #ddd;
    padding: 8px;
}

table.data th {
    background-color: #f2f2f2;
}

/* Adicionando estilos para as classes highlight e selected */
.highlight {
    background-color: lightgreen !important;
}

.selected {
    background-color: lightblue !important;
}


.hidden {
    display: none;
}


#sumPanel {
    position: sticky;
    top: 10px; /* Mantém o painel fixo no topo durante a rolagem */
    display: block;
    width: 200px; /* Ajuste conforme necessário */
    max-height: 100px; /* Defina a altura máxima desejada */
    overflow-y: auto; /* Permite rolagem interna se o conteúdo for maior */
    background-color: #f1f1f1; /* Cor de fundo opcional */
    padding: 10px; /* Espaçamento interno opcional */
    border: 1px solid #ccc; /* Borda opcional */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destaque opcional */
}