<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conciliador de Lançamentos Contábeis - Dados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    <style>
        .highlight {
            background-color: lightgreen;
        }
        .selected {
            background-color: lightblue;
        }
        #sumPanel {
            display: inline-block;
            vertical-align: top;
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <button onclick="window.location.href='/'">Voltar para a Página Inicial</button>
    <form method="post">
        <label for="filter_field">Filtro por Histórico:</label>
        <input type="text" id="filter_field" name="filter_field">
        <br>
        <label for="filter_conta">Filtro por Conta Contábil:</label>
        <input type="text" id="filter_conta" name="filter_conta">
        <br>
        <button type="submit">Aplicar Filtro</button>
    </form>
    <h1>Dados</h1>
    <button id="saveConciliation" onclick="saveConciliation()">Salvar Conciliação</button>
    <button id="removeConciliation" onclick="removeConciliation()">Remover Conciliação das Linhas Filtradas</button>
    <div style="display: flex;">
        <div>
            <table class="data">
                <thead>
                    <tr>
                        <th><a href="{{ url_for('data', order_by='id', order_direction='asc', filter_field=filter_value, filter_conta=filter_conta) }}">ID ↑</a> | <a href="{{ url_for('data', order_by='id', order_direction='desc', filter_field=filter_value, filter_conta=filter_conta) }}">↓</a></th>
                        {% for column, name in [("data", "Data"), ("historico", "Histórico"), ("contra_partida", "Contra Partida"), ("lote", "Lote"), ("lancamento", "Lançamento"), ("d", "D"), ("c", "C"), ("conta", "Conta")] %}
                        <th>
                            <a href="{{ url_for('data', order_by=column, order_direction='asc', filter_field=filter_value, filter_conta=filter_conta) }}">{{ name }} ↑</a> |
                            <a href="{{ url_for('data', order_by=column, order_direction='desc', filter_field=filter_value, filter_conta=filter_conta) }}">↓</a>
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in data_list %}
                        <tr data-conciliated="{{ 1 if row['conciliada'] == 1 else 0 }}" class="{{ 'highlight' if row['conciliada'] == 1 else '' }}">
                        
                            {% for col in columns %}
                                <td>
                                    {% if col == 'data' %}
                                        {{ row[col] | format_date }}
                                    {% else %}
                                        {{ row[col] }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" style="text-align: right;"><strong>Total:</strong></td>
                        <td id="sumColD">0.00</td>
                        <td id="sumColC">0.00</td>
                        <td id="totalDifference">0.00</td>
                    </tr>
                </tfoot>
            </table>
            <form action="/download_filtered_data" method="post" id="downloadForm">
                <input type="hidden" name="selected_ids" id="selectedIds">
                <input type="hidden" name="filter_field" value="{{ request.form.get('filter_field') }}">
                <input type="hidden" name="filter_conta" value="{{ request.form.get('filter_conta') }}">
                <button type="submit">Download Excel</button>
            </form>
            <form action="/download_non_conciliated" method="post">
                <input type="hidden" name="filter_field" value="{{ request.form.get('filter_field') }}">
                <input type="hidden" name="filter_conta" value="{{ request.form.get('filter_conta') }}">
                <button type="submit">Download Linhas Não Marcadas</button>
            </form>
        </div>

        <!-- Painel para mostrar a soma -->
        <div id="sumPanel">
            <h3>Soma Total: <span id="sumValue">0.00</span></h3>
        </div>
    </div>

    <!-- Inclua o arquivo de script apenas uma vez -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>
</html>
