<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conciliador de Lançamentos Contábeis - Dados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    <style>
        .highlight {
            background-color: lightgreen;
        }
        .selected {
            background-color: lightblue;
        }
    </style>
</head>
<body>
    <button onclick="voltarParaInicio()">Voltar para Início</button>
 
    <script>
        function voltarParaInicio() {
            window.location.href = "{{ url_for('index') }}"; // Gera a URL para a página inicial
        }
    </script>
    <h1>Dados</h1>
    <form action="/download" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Download Processed File">
    </form>
    <div>
        {{ table|safe }}
    </div>
    <script>
        $(document).ready(function() {
            let selectedRow = null;

            $('table.data tr').attr('tabindex', 0).on('click', function() {
                if (selectedRow) {
                    $(selectedRow).removeClass('selected');
                }
                selectedRow = this;
                $(this).addClass('selected').focus();
            }).on('dblclick', function() {
                $(this).toggleClass('highlight');
            }).on('keydown', function(event) {
                if (event.key === 'Enter') {
                    event.preventDefault(); // Prevent default action
                    $(this).toggleClass('highlight');
                }
            });

            $(document).on('keydown', function(event) {
                if (!selectedRow) return;

                let rows = $('table.data tr');
                let index = rows.index(selectedRow);

                if (event.key === 'ArrowDown') {
                    event.preventDefault(); // Prevent default action
                    if (index < rows.length - 1) {
                        $(selectedRow).removeClass('selected');
                        selectedRow = rows.get(index + 1);
                        $(selectedRow).addClass('selected').focus();
                    }
                } else if (event.key === 'ArrowUp') {
                    event.preventDefault(); // Prevent default action
                    if (index > 0) {
                        $(selectedRow).removeClass('selected');
                        selectedRow = rows.get(index - 1);
                        $(selectedRow).addClass('selected').focus();
                    }
                }
            });
        });
    </script>
</body>
</html>
